[2018-02-24 23:36] xdgruben opened #5 "Remove mining from wallet"
Is not necessary anymore, since we already have a cpu/gpu miner.

[2018-02-24 23:38] xdgruben opened #6 "Connect to a node automatically"
To connect with the wallet, the user shouldn't need to enter a pool manually to connect.
I think the program should check all the available pools/nodes and connect to the one available with less ping or something.

[2018-02-25 16:29] sgaragagghu commented on #5
I think cpu miner of the gpu miner isn't optimized

[2018-02-26 11:27] rgsnedds opened #7 "linux build issues"
GPU's show correct hash-rate in terminal, but pools only seeing  a small percentage of hash-rate and rewards not paying correctly, tested on multiple pools over the course of many hours (8 hrs overnight)

[2018-02-26 13:23] jonano614 commented on #5
Mister @sgaragagghu is right. CPU miner is not optimized. Need more coding

[2018-02-27 23:11] Sofarlemineur commented on #5
we have a CPU miner only?

[2018-03-01 10:30] tihualong opened #9 "openxdagpool-scripts setup error: there is not cheatcoin folder and xdag_run.sh"
Re-execute xdag1 using `./xdag_run.sh` in `xdag1/cheatcoin` folder without the `-r` option (script will ask). Wait for the pool to start up and load blocks from the storage.

in openxdagpool-scripts>readme file , there is not cheatcoin folder and xdag_run.sh 。

[2018-03-05 10:31] jonano614 commented on #9
cheatcoin folder was renamed to client

[2018-03-05 10:32] #9 closed

[2018-03-09 04:12] yurocy opened #22 "xdag can't run on centos"
➜  client git:(develop) ✗ ./xdag -m 2 -d 172.105.216.53:3355
xdag client/server, version 0.2.0.Transport module: dnet T11.231-T13.714, running as daemon.
Password:
➜  client git:(develop) ✗ ./xdag -i
xdag client/server, version 0.2.0.
xdag> help
Can't connect to unix domain socket errno:2
xdag>

[2018-03-13 18:56] jonano614 opened #25 "Loading of storage folder by pools take too much time"
It takes about 17 hours now.

[2018-03-14 07:41] jonano614 opened #26 "Always use executable directory, not current directory"
xdag wallet uses current directory when tries to open wallet.dat, dnet_key.dat and storage folder. It can confuse users if xdag wallet is started not from current directory.

See example:
![default](https://user-images.githubusercontent.com/6870809/37389109-080fb594-2774-11e8-8fb4-2ee090fb9412.png)
In the first case wallet is started from current directory and in the second case wallet is started

[2018-03-14 11:45] xrdavies commented on #26
This is due to the path on Windows as I think. On Linux dc_copy is different from DC_Copy.
Maybe need solve it only for Windows.

[2018-03-14 13:38] cnukaus commented on #5
Shall we make this a switch? I can potentially work on this (haven't wrote C for many years) or ask a buddy of mine to work on this

[2018-03-14 14:31] jonano614 commented on #26
This issue is on Linux too.

[2018-03-14 14:55] xrdavies commented on #26
@jonano614
Okay, I will check this.

[2018-03-16 08:22] xrdavies commented on #26
Issue fixed. Please find PR #28

[2018-03-16 08:27] #26 closed

[2018-03-20 03:27] xrdavies commented on #5
@Sofarlemineur
Please find the GPU Miner https://github.com/XDagger/DaggerGpuMiner

[2018-03-20 09:25] xrdavies commented on #22
@yurocy
Could you check if you have unix_sock.dat in that folder?

[2018-03-22 22:49] glte opened #34 "Potential buffer overflows in dnet_command()"
**dnet/dnet_command.c**

[code]

It looks like there are two places where a command > 4096 bytes could overflow in two different places, causing memory corruption and trivially exploiting the code.

The length of the command needs to be explicitly checked before operating on the data in any way. 'len' appears to be checked after the copies and increment the pointer, when it should be checked befor

[2018-03-23 01:50] yurocy commented on #22
@xrdavies no, can't find it

[2018-03-23 02:54] xrdavies commented on #34
@glte Thank you. I will take a look.

[2018-03-23 07:15] xrdavies commented on #22
@yurocy
On Linux, the unix_sock.dat is used for communication between xdag deamon and terminal, if no unix_sock.dat, it will throw the error as you met. So please update to the latest version and re-run daemon like ./xdag -m 2 -d 172.105.216.53:3355, then run terminal in the same folder like ./xdag -i

[2018-03-23 18:18] glte opened #35 "Potential stack-based buffer overflow in XDagCore"
I didn't see a place to create issues at https://github.com/xrdavies/DaggerGpuMiner, so I hope this is ok place to track them until that is fixed.

 **XDagCore/XNetwork.cpp**

[code]

**address** is copied into buf without checking if the server address is < 256 bytes and there were no other limits seen on a server address's size.

This can be easily fixed by just checking if address < buf before

[2018-03-24 02:30] xrdavies commented on #35
@glte  This repository if for xdag, and this issue is GPU Miner issue. So I will move to GPU Miner repository.

[2018-03-24 02:30] xrdavies opened #36 "Mac wallet re-generate address"
here's what happened... step by step.. hopng @frozen might have a look at this
1. i had mac wallet open and mining for a day or so.
2. i had been sending coins to mac wallet from windows GUI
3. mac wallet received coins ok
4. i did a test send from mac to windows gui
5. windows gui received coins ok from mac wallet
6. tonight. tried to send a freind some XDAG
7. wallet stuck
8. restarted wallet
9.

[2018-03-24 02:33] #35 closed

[2018-03-24 15:10] xrdavies opened #37 "pool configuration has no effect."
Reported from pools guy, the pool cannot change the configuration
![297e041059de470ba4d9e8f7a391ff9f](https://user-images.githubusercontent.com/1884084/37865516-80d9e7dc-2fb8-11e8-8367-3326ed0a3331.jpg)

[2018-03-25 05:29] xrdavies commented on #37
Please compile this on your server, run it and paste the result here.

[code]

[2018-03-25 09:08] xrdavies commented on #22
@yurocy  Still now unix_sock.dat created?

[2018-03-26 17:45] glte commented on #34
Thanks for the quick fix :)

[2018-03-26 19:40] xrdavies commented on #34
PR merged. Close this issue.

[2018-03-26 19:40] #34 closed

[2018-03-26 19:43] xrdavies commented on #37
`The number of processors configured is :8
The number of processors currently online (available) is :8
The pagesize: 4096
The number of pages: 3849791
The number of available pages: 51076
The memory size: 15038 MB
The number of files max opened:: 65535
The number of ticks per second: 100
The max length of host name: 64
The max length of login name: 256`

Result pasted.

[2018-03-27 06:18] cnukaus opened #49 "mac connection to website fails"
Mac connection to website https fail, httpse OK
![screen_shot_2018-03-27_at_12 50 24_pm](https://user-images.githubusercontent.com/5101195/37950039-e1521be4-31e2-11e8-9f9f-2b4bb2764781.png)

[2018-03-27 07:40] xrdavies commented on #49
@cnukaus
It seems an issue about ssl certification.

Move to xdag.io repository.

[2018-03-27 07:40] #49 closed

[2018-03-27 08:27] czsilence commented on #37
`ulimit -a`
see your system limit, 960 may be caused by open file max is 1024

and use "ulimit -n xxx" to set open file max limit. eg:

`
ulimit -n 4096
`

[2018-03-27 12:53] xrdavies opened #52 "share verification"
share verification

[2018-03-29 06:17] xrdavies commented on #7
@jonano614
Do you think it's an issue of pool or GPU miner?

[2018-03-29 07:14] rgsnedds commented on #7
well it only happened on ethos.
it’s not a huge issue but i think it the miner.

there are other small things with the miner, like sometimes the need to run seperate instances for each card etc.

however, there is obviously some issues with pools. our first pool would disconnect every 48hrs, so we have moved to another server. it has been two weeks now and we are just almost sync!

overall it just

[2018-03-29 10:18] xrdavies opened #59 "json-rpc"
json-rpc

[2018-03-29 10:19] xrdavies commented on #22
@yurocy
If no such issue any more, we will suppose this issue is not existed and close this issue.

[2018-03-29 13:52] xrdavies commented on #7
@rgsnedds

Thanks for reply.
Not sure if your IP of pool is added to white-list or not.
Please check current white-list.

And if it's a miner issue, I will move it to GPU miner and close this one.

[2018-03-29 13:54] rgsnedds commented on #7
Hi,

Yes our pool is in the whitelist.
We have spent the past two weeks ensuring that the pool is connecting. It connects OK and loads blocks from local storage, but when the local blocks are loaded, it begins again from zero and loads again.
It’s almost fully loaded now so hopefully we will be running soon

R

[2018-03-31 17:09] xrdavies commented on #59
https://github.com/XDagger/xdag/pull/65

[2018-04-04 06:40] xrdavies opened #68 "long parameter support"
Add long parameter support.

[2018-04-04 06:43] xrdavies commented on #37
@czsilence
As I mentioned in previous reply, there is little code to check max open file. It's quite weird that the max open file is 65535 while in xdag it seems still 1024. Unable to reproduce with my pool. Need the pool guy contact me again.

[2018-04-04 06:46] xrdavies commented on #37
@czsilence Could you continue the investigation?

[2018-04-04 07:31] xrdavies commented on #59
https://github.com/XDagger/xdag/pull/65

[2018-04-04 07:31] #59 closed

[2018-04-04 18:32] jonano614 opened #69 "Deadlock while sending several transactions"
Deadlock:
block.c, function xdag_set_balance, line 1195:
pthread_mutex_lock(&block_mutex);

block.c, function work_thread, line 1007:
pthread_mutex_lock(&block_mutex);

[2018-04-05 07:17] jonano614 opened #75 ""Wait sync blocks" value more than 0"
Several pool owners stated that "wait sync blocks" value is more than zero, but pool is sychronized.

![default](https://user-images.githubusercontent.com/6870809/38351990-7bf225da-
38ba-11e8-91f9-513f9794c438.png)

![default](https://user-images.githubusercontent.com/6870809/38351999-7fe037f4-38ba-11e8-85a9-90888ea65c37.png)

[2018-04-09 08:43] xrdavies commented on #25
@jonano614
The previous temporal fix of storage folder does not make any improvement with production pool after 6 times of reload test.

A PR will be pushed to disable the temporal fix. And I will propose new solution for storage folder later.

[2018-04-13 06:52] 2ge opened #81 "in help, still cheatcoin reference"
[code]

[2018-04-15 06:02] 2ge opened #83 "Dagger info paper"
Hi guys,

I am preparing XDAG info paper, so I can spread this information. Please peer review it, let me know what should be changed/added/deleted. After we can put it here as WIKI page and post it to community, so all useful info will be on one place.

Thanks

https://docs.google.com/document/d/1b8OmK4RPGtMkh4qQyaLYVQM-Lfym1gKqR1Hq3Rrf7oM/edit?usp=sharing

[2018-04-15 11:02] mathsw commented on #83
Please create a .md for easy formatting for the wiki.

See https://guides.github.com/features/mastering-markdown/ for info.

[2018-04-15 15:13] #83 closed

[2018-04-15 21:05] sgaragagghu commented on #81
easy fix

[2018-04-20 10:23] ZealiGit opened #87 "How auto transfer XDAG"
Transfers XDAG to other wallet address，`./xdag -i` then `xfer S A`，
that's the only to do it.？Is it possible to not enter `xdag>`?

[2018-04-20 16:06] xrdavies commented on #87
Currently, yes, this is the only way to transfer.

[2018-04-22 10:52] xrdavies opened #90 "miner tag"
Add tag for miners to display them in pool miner-list

[2018-04-25 07:40] luch-jinming opened #95 "How can I update whitelist, if I want to add a xdag miner pool?"

[2018-04-25 08:39] luch-jinming commented on #95
Could help me add  pool 106.14.95.35:13654 in whitelist

[2018-04-25 09:37] apostalus opened #96 "Xdagwallet86 is not valid on win32 error"
Xdagwallet86 is not valid on win32 error

[2018-04-25 18:46] xrdavies commented on #96
@apostalus
Could you provide some information about win32 error?

[2018-04-25 18:46] xrdavies opened #97 "potential issues on Mac OSX"
dnet fork
==11195==ThreadSanitizer: starting new threads after multi-threaded fork is not supported. Dying (set die_after_fork=0 to override)

[2018-04-26 04:15] luch-jinming commented on #95
I append netdb-white.txt `106.14.95.35:13654`, and start xdag daemon  `./xdag -d -p 106.14.95.35:16775 -P 106.14.95.35:13654:20000:0.5:1:1:200:0.5`.  Is it all right?

[2018-04-26 15:44] xrdavies commented on #95
@luch-jinming
The IP address should be accept by other pool owners. Please submit PR to add your pool.

[2018-04-26 16:10] xrdavies commented on #97
ASAN:DEADLYSIGNAL
=================================================================
==10136==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7fff539cd105 bp 0x700006045dd0 sp 0x700006045d98 T16777215)
==10136==The signal is caused by a READ memory access.
==10136==Hint: address points to the zero page.
    #0 0x7fff539cd104 in cerror (libsystem_kernel.dylib:x86_64+0x13104)

=

[2018-04-26 18:45] xrdavies commented on #97
ASAN:DEADLYSIGNAL
=================================================================
==17129==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7fff539cd105 bp 0x700000b29dd0 sp 0x700000b29d98 T16777215)
==17129==The signal is caused by a READ memory access.
==17129==Hint: address points to the zero page.
atos(17130,0x100354340) malloc: enabling scribbling to detect mods to free

[2018-04-26 19:46] xrdavies commented on #97
==22567==ThreadSanitizer: starting new threads after multi-threaded fork is not supported. Dying (set die_after_fork=0 to override)

[2018-04-26 19:47] xrdavies commented on #97
xdag> GuardMalloc[xdag-22612]: attempted free of pointer 0x101195fe0 that was not claimed by any registered malloc zone

[2018-04-27 05:41] luch-jinming commented on #95
@xrdavies Tks!  I have submitted a PR.

[2018-04-27 05:41] #95 closed

[2018-04-27 18:17] xrdavies commented on #97
=================================================================
==2085==ERROR: AddressSanitizer: attempting free on address which was not malloc()-ed: 0x000106e7f820 in thread T16777215
==2085==AddressSanitizer CHECK failed: /BuildRoot/Library/Caches/com.apple.xbs/Sources/clang_compiler_rt/clang-900.0.39.2/src/projects/compiler-rt/lib/asan/asan_errors.cc:144 "((free_stack->size)) > ((0))" (0x0,

[2018-04-29 03:13] ncgege commented on #75
the pool create the blocks but not confirm by the network ,it's a bug ?

[2018-05-01 17:10] sgaragagghu opened #108 "[MacOSX] wallet doesn't work after first lunch"
wallet works the first time it is initialized.
after you close it, it doesn't work anymore.

https://cdn.discordapp.com/attachments/440844768763838465/440911808245661717/Screen_Shot_2018-05-02_at_12.25.48_AM.png
https://cdn.discordapp.com/attachments/440844768763838465/440899678842781716/Screen_Shot_2018-05-01_at_11.37.24_PM.png

it keep to tell "Type command, help for example." every 12secs
and i

[2018-05-02 06:49] xrdavies commented on #108
@sgaragagghu

See, it's something related to dnet thread. Some thing went wrong, and dnet watchdog will restart it again and again.
It's fixed in new version. Let's test it.

[2018-05-02 16:58] xrdavies commented on #97
xdag client/server, version 0.2.2.
Transport module: dnet T11.231-T13.714.
Password: 123456

ASAN:DEADLYSIGNAL
=================================================================
==8282==ERROR: AddressSanitizer: stack-overflow on address 0x70000c03c000 (pc 0x7fff6eea4da9 bp 0x70000c03aaf0 sp 0x70000c03aaf0 T6)
    #0 0x7fff6eea4da8 in _platform_bzero$VARIANT$Ivybridge (libsystem_platform.dylib:x86_6

[2018-05-06 05:16] xrdavies commented on #108
@sgaragagghu Could you try the new version?

[2018-05-06 06:56] DreamboyA opened #115 "Mac OS ：Can't connect to unix domain socket errno:2"
<image src="https://ws4.sinaimg.cn/large/006tKfTcly1fr1mkv9a0kj30ss0lagoy.jpg"/>

[2018-05-06 09:16] xrdavies commented on #115
@DreamboyA

"put.xdag.server.here:13654" means you have to fill pool address here, not just copy from the readme.

Here is the list of available pools:
http://xdag.io/index.html#services

[2018-05-06 09:26] xrdavies commented on #97
xdag> =================================================================
==7937==ERROR: AddressSanitizer: global-buffer-overflow on address 0x0001003a2f00 at pc 0x0001004ff712 bp 0x700000428810 sp 0x700000427fb0
WRITE of size 1 at 0x0001003a2f00 thread T8
atos(7938,0x100357380) malloc: enabling scribbling to detect mods to free blocks
    #0 0x1004ff711 in wrap_memmove (libclang_rt.asan_osx_dynamic

[2018-05-06 23:27] cgeek opened #117 "how to generate a new address ?"
how to generate a new address ?

[2018-05-07 01:28] kaocs opened #118 "cann't pass compile /xdag/client"
to compile client  in  Ubuntu 4.13    gcc 4.8.5

Error INFO As Below:
pool.c:929:21: error: dereferencing pointer to incomplete type ‘struct hostent’
   if (!host || !host->h_addr_list[0]) {
                     ^
pool.c:933:10: error: ‘h_errno’ undeclared (first use in this function)
    res = h_errno;
          ^
pool.c:933:10: note: each undeclared identifier is reported only once for each func

[2018-05-07 10:06] xrdavies commented on #118
@kaocs
Could you specify which branch used?

[2018-05-07 12:43] xrdavies commented on #117
@cgeek

If you are using wallet, not possible right now. But later this feature will be added.

[2018-05-07 13:09] mathsw commented on #117
CLI keygen command should generate a new address and set it as default.

[2018-05-07 23:43] judezhu commented on #117
@xrdavies I generated an account using the windows wallet gui. What do you mean by not possible now? Thanks.

[2018-05-08 02:53] kaocs commented on #118
master develop Pre_release  are all these Errors.

[2018-05-08 17:13] xrdavies commented on #118
@ljxu  @kaocs Did you use make or automake?

[2018-05-08 17:20] xrdavies commented on #117
@mathsw keygen will generate a new key, but not working with wallet. With pool, yes.

[2018-05-09 02:49] #87 closed

[2018-05-09 08:42] zywoo opened #123 "Can not connect to the main network."
ubuntu 16.04.
run ./xdag with -d  -p and -P parameters.
It always "Trying to connect to the main network".
![image](https://user-images.githubusercontent.com/12759228/39804762-8a08dbd4-53a7-11e8-8ebb-88ec9df543f6.png)

[2018-05-09 11:58] SkyblueMr opened #124 "how do my pool IP update to whitelist?"
I'm start xdag daemon:
./xdag -d -r -p 47.75.1.95:16775 -P 47.75.1.95:12315:2048:0.5:1:1:200:1
thanks!

[2018-05-09 13:07] NKU-Nikoni opened #125 "What's happening to XDAG from 7/5/2018？"
XDAG is in great discussion these days, but no one could explain exactly what happened.
We are eager to know what caused this accident.
XDAG community, tell something, please.

[2018-05-09 13:15] zz546141724 commented on #125
@mathsw ok thanks

[2018-05-09 14:10] mathsw commented on #125
@NKU-Nikoni https://xdag.io/2018/05/09/Report-on-Desynchronization-of-Network.html

[2018-05-09 15:40] NKU-Nikoni commented on #125
@mathsw  thanks a lot

[2018-05-09 15:45] #125 closed

[2018-05-10 13:40] SkyblueMr commented on #124
This is IP and Pool Server in Hong Kong, so the Great Firewall of China can't interfere with block synchronization.
please

[2018-05-10 14:25] mathsw commented on #124
Please be patient. Once that the network is stable, more pools will slowly be added.

[2018-05-10 15:10] SkyblueMr commented on #124
Thx very much.

[2018-05-10 16:44] aidenluo177 commented on #22
@xrdavies There is not unix_sock.dat file on my server(CentOS 6.8)

[2018-05-10 17:54] xrdavies commented on #22
@aidenluo177 Please check the command to run xdag
./xdag -d -m 2 the.pool.address:port

then run ./xdag -i

[2018-05-12 07:01] xrdavies commented on #124
@SkyblueMr

Please pay attention the news on http://xdag.io and follow the routine to add white-list.

[2018-05-12 07:01] #124 closed

[2018-05-12 07:03] xrdavies commented on #123
@zywoo @RyanKung  All the pools closed the port for mining to sync the main net.

Close this issue.

[2018-05-12 07:03] #123 closed

[2018-05-12 10:49] raskul opened #134 "tx fees to mining rewards"
please add 0.01 tx fees to transactions, to be given to mining rewards. this will stabalise the network hugely.

[2018-05-12 11:54] forest21000 commented on #117
@xrdavies Agree with you!We can create a new address by copying the wallet program to another folder,and input one pool address to get new address.

[2018-05-12 14:17] huangfaqian opened #136 "The balance in wallet is cleared to 0.010631004 XDAG when my PC is powered off accidentally and powered it back"
My question: How can I repair my wallet? Thanks.

[2018-05-14 16:31] workboy opened #142 "help！need more pool"
More pool adding nodes are needed to achieve faster synchronization efficiency. I want to build more pool nodes in Asia, and how to join the white list.

[2018-05-14 16:37] mathsw commented on #142
@workboy Please see this: https://github.com/XDagger/xdag/wiki/White-List, thank you.

[2018-05-14 16:37] #142 closed

[2018-05-15 05:29] leruy commented on #134
if add tx fees, how to generate new address?

[2018-05-17 10:09] c2h2 opened #148 "xdag> Trying to connect to the main network."
Followed instructions to open the pool, but:

[code]

[code]

Any hint? or how to debug? Other txt logs are all correct, can sync transactions.

[2018-05-17 10:55] mathsw commented on #148
Hello @c2h2, Please see the following link: https://github.com/XDagger/xdag/wiki/White-List#how-to-apply-for-white-list

Thank you.

[2018-05-17 15:08] xrdavies commented on #148
@c2h2  yes, only pools in white-list can connect to main net.

[2018-05-17 15:08] #148 closed

[2018-05-18 10:27] jonano614 commented on #136
Hi, did the address of your wallet was changed?

[2018-05-18 10:29] jonano614 commented on #96
No reply, issue is closed.

[2018-05-18 10:29] #96 closed

[2018-05-18 10:31] jonano614 commented on #134
Transaction fees are not planned in the close future.

[2018-05-18 10:31] #134 closed

[2018-05-18 10:32] jonano614 commented on #118
@kaocs did you manage to compile the project?

[2018-05-18 10:32] #118 closed

[2018-05-19 01:59] felixwqliu commented on #5
@jonano614 CPU miner maybe write using ASM，to optimiz it

[2018-05-19 10:07] jonano614 commented on #5
@felixwqliu the CPU-mining was already optimized in January. Now it makes no sense to try to optimize it more....

[2018-05-19 17:41] xrdavies opened #150 "base58 address"
Mission:
Use base58 address instead of base64 address for new generated wallet and transactions.

Description:
Currently the wallet and block address use base64 which is not friendly to users and web browsers, while base58 is much more friendly.

If you would like to take this task, please reply with your proposal and ask dev team to review.

[2018-05-21 19:56] trueserve commented on #134
Actually, transaction fees should be used as one mitigation for network spam, and the code is already present. But there are some blockers.

1. Right now the pools send to all miners for each found block. This results in a large amount of transactions. Thus, the pool logic should be revised to not pay out on every block, but instead after the miner passes a threshold payment value.
2. Low TX fees

[2018-05-22 09:47] cnukaus commented on #136
@huangfaqian probably invalid chain due to de-sync?

[2018-05-23 06:11] leruy opened #159 "Reduce invalid transactions caused by network asynchrony."
At present, when the network is out of sync, each mineral pool will produce a block in 64 seconds, and each mining pool will distribute thousands of trading dividends separately, which will seriously affect the synchronization of the network.Add a maturity, only when the main block is recognized 1000 main blocks, can transfer the dividend.

[2018-05-23 08:40] ljxu commented on #22
where can i get the.pool.address

[2018-05-23 18:25] zarenkovanton opened #160 "Help, a problem with a wallet."
Hello. How to restore a wallet. After restart of a wallet, it hangs on initialization?

[2018-05-23 21:02] BravoJason opened #163 "Cannot connect the main network."
Hi, I want to start my own pool.

When I followed the tutorial of the https://github.com/XDagger/openxdagpool-scripts, it can not connect the main network.

Here is the start command:
`pool@ip-172-31-34-249:~/xdag1/client$ TZ=GMT ./xdag -d -p 54.164.118.71:16775 -P 54.164.118.71:13654:20000:2000:450:1:1:1:1`

Here is the state prompt:
[code]

Here is the stats prompt:
[code]
Connection state:
[cod

[2018-05-23 21:09] mathsw commented on #163
Hello @BravoJason

Please read about the requirements and process here:
https://github.com/XDagger/xdag/wiki/White-List

[2018-05-24 00:34] leruy commented on #163
@BravoJason If there is no other pool to add you to the white list, you are not connected to the main network.

[2018-05-24 00:36] BravoJason commented on #163
Ok. I see. It means that I should be added first and then sync the blocks. Thank you.

[2018-05-28 07:12] ncgege opened #175 "some time a lot of miners disconnect from the pool , because of socket hangup"
some time a lot of miners disconnect from the pool , because of socket hangup
and they can not reconnect in a short time. when restart daggerGPUminer it cant not connect too.
![hangup](https://user-images.githubusercontent.com/25341303/40601911-77da3b4c-6289-11e8-967d-d56e082839c4.png)

[2018-05-29 09:04] xrdavies commented on #163
@BravoJason

If you wanna run your pool, you have to apply for white-list to pool@xdag.io. The requirement is listed in https://github.com/XDagger/xdag/wiki/White-List
If you wanna run test pool by your own, please setup your test net by yourself.

[2018-05-29 09:04] #163 closed

[2018-05-29 09:05] xrdavies commented on #160
@zarenkovanton

Could you provide more info?

[2018-05-29 09:13] sgaragagghu commented on #160
@zarenkovanton check the password

[2018-05-29 10:04] zarenkovanton commented on #160
@sgaragagghu Thanks, it likely validly a problem with the password because writes me the following mistake to the console:
C:\Users\wallet\Downloads\XDag.x64\XDag.x64\xdag.exe -p 172.105.216.53:3355 -d
xdag client/server, version 0.2.1.
Transport module: dnet T11.231-T13.714.
Password:
Password incorrect.

It is necessary only to understand what password and why the fact that I entered doesn't app

[2018-05-29 10:10] sgaragagghu commented on #160
maybe you typed the password with CAPS LOCK ?
try to simulate the errors that you could have done while typing it the first time.

[2018-05-29 10:17] zarenkovanton commented on #160
I have already tried, even in the native language. I have tried to pass letters and to enter other letter which I could enter by mistake. password of 14 symbols.

[2018-05-29 16:05] xrdavies commented on #175
@ncgege  Thanks for submit issue.

[2018-05-29 20:50] trueserve opened #181 "xdag was MIT licensed, is now GPL licensed; action needed"
Commit 1a88c7cbc5be9565a06986b154dd60ab396e15fa has merged in support for Readline.

This project is MIT licensed. However, Readline is GPL. Binaries built with this software, and distribution of this software in source or binary form, must comply with the GPL license. This is more restrictive than the MIT license. Because of these restrictoins, this commit should be immediately reverted.

Any unr

[2018-05-29 21:08] rgsnedds opened #182 "full audit of the discord moderation group"
As pool support for https://xdag.signal2noi.se

why have i been removed from the chat??
I would advise a full audit of the discord moderation group.

thank you for your time.

Rus

[2018-05-29 21:26] trueserve commented on #182
You were permanently banned, by me, after being unbanned at least twice from prior bans for the same reasons listed below, on May 20th 2018.

The `#rules-info` channel in Discord lists the following rules:
[code]
The largest rule infracted was rule 5. As a community we are pretty open and tolerant. Your abuse of this rule was allowed to slip for some time. As the instigations, namecalling and outr

[2018-05-29 21:26] #182 closed

[2018-05-31 09:31] xrdavies commented on #181
@trueserve

Fixed in https://github.com/XDagger/xdag/pull/186

[2018-05-31 09:31] #181 closed

[2018-06-02 18:02] xrdavies opened #190 "dnet create failed cause restart"
dnet create failed cause restart

[2018-06-02 18:19] xrdavies opened #191 "crash with terminate command"

[2018-06-02 18:32] xrdavies commented on #191
2018-06-03 02:31:39.508 [70000c44d000:MESS]  Entering main cycle...
2018-06-03 02:31:41.739 [70000c5d6000:ERRO]  pool: cannot bind a socket (error Unknown error: -1)
2018-06-03 02:31:41.739 [70000c5d6000:ERRO]  Pool: open connection error!
2018-06-03 02:31:41.740 [7fff9eb76380:MESS]  Starting terminal server...
2018-06-03 02:31:42.740 [70000c6dc000:INFO]  Nopaid: 0000000000000000000000000000000000

[2018-06-02 18:56] xrdavies opened #192 "hanging with account command"
With test pool, when try to connect to testnet type `account` command, it will hangup there.

[2018-06-04 13:31] ncgege opened #195 "Add those RPC functions,thanks"
XDAG RPC functions requirement:
**base functions:**
1.set rpc user and passwrod
2.set up rpc allow ip.
3.set rpc listen port
**pool info**
1.getpoolinfo(blcoks ,main blocks)
2.getpoolstate (pool state)
3.get peerinfo  (net conn)
4.block notify  (when a new block foud notfy some one)
5. rpc log  (set some level )
**exchange**
1.get newaddress
2.get balance
3.getBalanceByAddress
4.list transactions

[2018-06-09 13:33] cnukaus opened #208 "adjust pool % fee/reward in command line"
Shall we built it into xdag command so instead of kill process and restart daemon to adjust pool parameters, it can be changed within xdag -i

[2018-06-11 06:36] duzhaoxiong commented on #175
In version 0.2.4.I meet this problem too, and its frequently.how can I do it.

[2018-06-11 11:35] xrdavies commented on #208
@cnukaus  It's already there.

type help in xdag comman line, and read the instruction about command pool.

[2018-06-11 14:00] #208 closed

[2018-06-16 02:52] rulerson commented on #191
./xdag -d -v 9 -p localhost:13657 -P localhost:13658:100:1:1:1:100:1

if i set loglevel to debug or more higher level, same problem occur.

[2018-06-24 19:06] xrdavies opened #229 "http_get issue"
2018-06-14 19:08:22.061 [7f7d2744f700:FATA]  Signal 11 delivered
2018-06-14 19:08:22.197 [7f7d2744f700:FATA]  RIP=563253931238, EFL=10206, ERR=4, CR2=18,
2018-06-14 19:08:22.197 [7f7d2744f700:FATA]  RAX=0, RBX=1bb, RCX=0, RDX=ffffffffffffffec, RSI=7f7d29f25cf5, RDI=0, RBP=7f772c01c7c0, RSP=7f7d2744e670,
2018-06-14 19:08:22.197 [7f7d2744f700:FATA]  R8=0, R9=0, R10=0, R11=7f7d2744e0b8, R12=56325393a

[2018-07-02 13:54] xrdavies opened #242 "white-list for rpc"
Implement white-list for IPs which can connect to xdag rpc interface.

[2018-07-02 13:55] xrdavies opened #243 "export/import wallet keys"
Implement feature to export/import wallet keys including wallet's blocks.

[2018-07-02 13:57] xrdavies commented on #5
No need, close it.

[2018-07-02 13:57] #5 closed

[2018-07-02 14:05] jonano614 commented on #6
https://github.com/XDagger/xdag/pull/239

[2018-07-02 14:05] #6 closed

[2018-07-03 06:41] BH1002 commented on #150
maybe  i can do it,please connect with me  by weixin  : dabai854885

[2018-07-03 21:34] MaximousDarwin commented on #175
Any chance why this happens? Miners in my pool are also affected by the exact same issue.

[2018-07-07 18:33] xrdavies commented on #229
fixed in #248

[2018-07-07 18:33] #229 closed

[2018-07-07 18:38] xrdavies opened #249 "improve reward payment tx blocks"
Currently the reward payment tx blocks contains useless blocks.
Need recheck the logic of reward payment

[2018-07-07 18:41] xrdavies commented on #195
@ncgege
exchange
1.get newaddress
2.get balance
3.getBalanceByAddress
4.list transactions N (list last transactions)
5.getblocks (block hash ,txid ,wallet address)

pool info
2.getpoolstate (pool state)

3.set rpc listen port

[2018-07-08 01:48] ncgege commented on #195
great ,thank you.

[2018-07-08 08:49] xrdavies commented on #7
It's unrelated to linux build. Close.

[2018-07-08 08:49] #7 closed

[2018-07-09 03:02] kazaff opened #253 "how to get notify when the chain have a new transaction?"

[2018-07-09 13:14] okfirelee opened #255 "mine cpu runing is 100%"
how to controll CPU not full . and must miner ?

[2018-07-09 13:33] okfirelee commented on #255
and now i use -m 0.5 is ok ?

[2018-07-09 13:34] okfirelee opened #256 "rpc xdag_new_address error"
array(1) { [0]=> array(1) { ["block"]=> string(32) "4Q8CT7iZ3The6HzUTAgMufI9PAYDMm1V" } } err 2 result errno:-32601 msg: Method not found. array(0) { }

[2018-07-09 13:34] okfirelee commented on #253
yes its an issue

[2018-07-09 13:39] okfirelee commented on #256
method not found?  why ? its not complicate?

[2018-07-10 16:52] mathsw commented on #255
Try `-m 0`  or `-m 1`. -m specifies number of threads.

[2018-07-10 16:52] #255 closed

[2018-07-10 16:53] mathsw commented on #256
RPC is not finished yet. Please wait some time for full RPC release.

[2018-07-10 16:53] #256 closed

[2018-07-11 12:31] okfirelee opened #258 "account 100 is only 67 address"
i use xdag -i
account 100
only create 67 address . is not 100.  and account 200 only 67 .
i need more address how to do?

[2018-07-11 17:40] sgaragagghu commented on #258
account 100 doesn't create new addresses, you shouldn't use these other addresses that you see because some of these addresses are transaction addresses, not wallet addresses.

[2018-07-12 03:49] okfirelee commented on #258
how to create new wallet addresses ? i want build user pay functions need more address

[2018-07-18 20:29] jonano614 opened #265 "Transfer from pools"
Pool works unstable after transfer is done.

[2018-07-18 20:32] jonano614 opened #266 "Terminal client does not exit correctly"
1. Start terminal client: xdag -i
2. Exit from client: exit

Result: xdag process is still in memory

Starting a new instance of console client can lead to unstable work of the pool.

[2018-07-21 15:23] sgaragagghu commented on #265
which types oof issues?

[2018-07-22 11:51] sgaragagghu commented on #253
what do you mean?

[2018-07-23 09:20] #266 closed

[2018-07-23 09:21] #191 closed

[2018-07-30 14:01] xrdavies commented on #243
This feature is implemented in Android Wallet, need someone help to port to xdag wallet.

[2018-07-31 21:01] brdelphus opened #282 "debian stretch 9"
it wont compile even using autoreconf.
gcc -std=gnu11 -O3 -g -DDFSTOOLS -DCHEATCOIN -DNDEBUG -DSHA256_USE_OPENSSL_TXFM -DSHA256_OPENSSL_MBLOCK -I/usr/local/opt/openssl/include -I.. -I../dnet -I../dus/programs/dfstools/source/dfslib -I../dus/programs/dfstools/source/include -I../dus/programs/dar/source -I../ldus/source/include/ldus -I../client/utils -I../client/utils/moving_statistics -I../client/j

[2018-07-31 21:03] sgaragagghu commented on #282
Please, paste the make output

[2018-08-01 01:11] brdelphus commented on #282
~/xdag/automake$ make
make  all-am
make[1]: Entering directory '/home/user/xdag/automake'
gcc  -g -O2 -c -o ../client/sha256-mb-x86_64.o ../client/sha256-mb-x86_64.s
gcc  -g -O2 -c -o ../client/x86_64cpuid.o ../client/x86_64cpuid.s
gcc -DHAVE_CONFIG_H -I.    -std=gnu11 -O3 -g -DDFSTOOLS -DCHEATCOIN -DNDEBUG -DSHA256_USE_OPENSSL_TXFM -DSHA256_OPENSSL_MBLOCK -I/usr/local/opt/openssl/include -I.. -I.

[2018-08-01 01:14] brdelphus commented on #282
./configure
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
ch

[2018-08-01 01:19] brdelphus commented on #282
well, changed from automake/ to client, tried make fromt here and surprise, it linked. so probably LDFLAG or other variable with missing path to whatever is on client directory.

[2018-08-01 10:14] sgaragagghu commented on #282
only normal Makefile in client folder is updated :+1:

[2018-08-01 10:14] #282 closed

[2018-08-01 10:59] brdelphus commented on #282
https://github.com/XDagger/xdag/wiki/Getting-started where it reads:
With automake (new method)

  $ cd xdag/automake
  $ autoreconf -if
  $ ./configure
  $ make
  $ cd ../client

i think procedure is wrong, someone must change to ./configure then cd ../client then make, how about i ? that leaded me to open this thread. sorry for the bump.

[2018-08-01 12:47] One8zero3 opened #285 "after unsuccessful entry of the password wallet hangs up on "initializing""
after unsuccessful entry of the password wallet hangs up on "initializing"
would be more better if we can get notified if password was incorrect and wallet could auto reopen password entry window at least for several tries

[2018-08-01 18:00] One8zero3 opened #286 "Android wallet have bug that Cann't input lowercase letters 'j' to the password"
Android wallet have a bug. I can't input lowercase letter 'j' to the  password.
please solve

[2018-08-01 18:10] #286 closed

[2018-08-01 18:10] One8zero3 commented on #286
wrong repository

[2018-08-09 15:56] xrdavies commented on #242
It's included by https://github.com/XDagger/xdag/pull/226

[2018-08-09 15:56] #242 closed

[2018-08-09 15:57] xrdavies commented on #136
No updates for over two months. Closed.

[2018-08-09 15:57] #136 closed

[2018-08-09 15:59] xrdavies commented on #90
This feature is implemented by https://github.com/XDagger/xdag/pull/205

[2018-08-09 15:59] #90 closed

[2018-08-09 16:00] xrdavies commented on #22
@ljxu  Pool address are listed in [wiki](https://github.com/XDagger/xdag/wiki/Mineable-Pool-List) and https://xdag.io

[2018-08-09 16:02] xrdavies commented on #22
It's not issue anymore. With new version has better compatibility with BSD like system.

[2018-08-09 16:02] #22 closed

[2018-08-09 16:05] xrdavies commented on #36
No updates for over 3 months. Closed.

[2018-08-09 16:05] #36 closed

[2018-08-09 16:07] xrdavies commented on #37
no updates for over 3 months. Closed.

[2018-08-09 16:07] #37 closed

[2018-08-10 01:46] lazy1523 opened #307 "XDAG xfer BUG"
windows 64bit wallets transfer Xdag Error

![wechatimg106](https://user-images.githubusercontent.com/19183420/43934504-385233ac-9c82-11e8-8bb5-bd2ba9d6d1bf.jpeg)

more infomation:
2018-08-09 21:20:35.919 [01fa41c579a0:INFO]  Share : 3d8fb854fc384b7778a35e2dcf73fda05818b6d21db793ee664a7aa49c68f339 t=16db3a1ffff res=0
2018-08-09 21:20:36.936 [01fa41c579a0:MESS]  Xfer : from **AAAAAAAAAAAAAAAAAAAAAAA

[2018-08-10 12:49] mathsw commented on #307
@lazy1523 Can you elaborate why this is a bug?

You can verify the transfer using this link: https://explorer.xdag.io/block/jjmIDEN5lwwYEGTYyDEyep1YSCKW2Djy

[2018-08-10 15:27] lazy1523 commented on #307
There is a problem. The address will change to AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA .

I don't know how it was caused.

[2018-08-11 21:56] sgaragagghu commented on #307
AAAA..AA It's just a placeholder, we will make it better ;)

[2018-08-12 13:59] lazy1523 commented on #307
good

[2018-08-13 06:18] xrdavies opened #309 "issue cheato2xdag for display"
https://explorer.xdag.io/block/oKw26wfTgKAsPJ5yXNB4f1g5VN8ZVUU6

所有input相加值为71.359999927；output值却是71.359999932，input竟然还＜output

[2018-08-13 08:37] sgaragagghu commented on #309
How he did xfer of 0.0000 ? It should be disabled by wallet and in pool payment

[2018-08-14 16:48] xrdavies commented on #309
@sgaragagghu  It should be history issue I think. The old version still handle cheatos less than 4 which will be displayed as 0 xdag.

[2018-08-22 09:08] xrdavies opened #318 "issue with network when there are more than 25 IPs"
As reported from Pool owner that when one pool has connections from over 25 IPs, this pool will be in desynced status, and the network hash rate will drop a lot.

[2018-08-22 11:07] sgaragagghu commented on #318
It should be already fixed with new dnet and #262

[2018-08-30 11:33] xrdavies opened #329 "Config file for pools"
Mission:
To simply the launch command for pools, a config file can be introduced that all the configs for pool can be write down to files.

Description:
* Add -f option for xdag program
* Parse config file with specific format

[2018-08-30 11:34] xrdavies commented on #265
@jonano614

Could you give more details on this issue?

[2018-08-30 12:02] xrdavies commented on #190
Not existed with new version of dnet.
Close this issue now.

[2018-08-30 12:02] #190 closed

[2018-08-30 12:07] xrdavies commented on #117
Close.

[2018-08-30 12:07] #117 closed

[2018-08-30 12:10] xrdavies commented on #253
@kazaff

Currently there is no way to notify transactions for specific address.
Later we can introduce similar functions.

[2018-08-30 12:11] xrdavies commented on #318
@sgaragagghu  Anyone test with this fix?

[2018-08-30 12:15] xrdavies commented on #160
No updates over 3 months. Close.

[2018-08-30 12:15] #160 closed

[2018-09-07 17:06] xrdavies commented on #97
2018-09-08 01:04:00.364 [700000c84000:INFO]  Mintop: 0092b077d786ae0c36ba1efd2f7566c299f8d15c7382e3de1334c0ff93e00d9a t=16e4abdffff pos=0
2018-09-08 01:04:00.416 [700000972000:INFO]  MAIN +: c466975da299d6146fe0451a16ee461e1a7778557b355947a8ba33fca822221d t=16e4abcffff pos=0
2018-09-08 01:04:01.233 [700000c01000:INFO]  Nopaid: c3ce5f13cbaae4f74be5aa0d3b17f7a727d8404cba9f25327c0c169340adda4d t=16e4

[2018-09-12 09:25] xrdavies opened #346 "[Mac OS] wallet with mojave not working"
求助，mojave cli 从 0.2.1 覆盖升级到 0.2.5 ，提示缺少 dbnet.txt ，手工建立一个 dbnet.txt 以后，执行 ./xdag xdag.uupool.cn:13654 后，state 提示 Trying to connect to the mainnet pool.

➜  xdag tail xdag.log
2018-09-12 17:06:29.936 [00010f02a580:MESS]  Initializing cryptography...
2018-09-12 17:06:30.067 [00010f02a580:MESS]  Reading wallet...
2018-09-12 17:06:30.068 [00010f02a580:MESS]  Initializing addresses...
2018-09-12 17:06:

[2018-09-13 00:42] larryisthere commented on #346
dbnet.txt 应该是对应以前的 dbnet-white.txt，我在创建空白文件后内容被自动更新为跟 dbnet-white.txt 一致。发现缺少这个文件的时候应该直接生成，而不应该报错吧。

[2018-09-21 05:48] xrdavies opened #356 "issue with 0.2.6"
Description:

With a production pool, it crashed after pool launched for 5 hours.

Here is the log:
[code]

[2018-09-25 10:10] zhangsanfeng1988 opened #362 "xdag mining command is error"
If you use the command:
`xdag -p xdag.uupool.cn:13654`
there will be a system crash error, The contents of the xdag.log file are as follows:

2018-09-25 09:54:15.846 [7f92edc8c700:MESS]  Starting xdag, version 0.2.6
2018-09-25 09:54:15.846 [7f92edc8c700:MESS]  Starting synchonization engine...
2018-09-25 09:54:15.846 [7f92edc8c700:MESS]  Starting dnet transport...
2018-09-25 09:55:01.498 [7f92edc8

[2018-09-25 12:39] larryisthere commented on #346
同样的 xdag 目录，但 mojave 已为正式版。storage dnet_key.dat wallet.dat 缺失的情况下，重新生成钱包，这时是能连上 pool 的。但我将备份复制回来后，再连相同的池子，就又不行了。

[2018-09-26 14:44] xrdavies commented on #362
-p is for pool, not for miner, but still need a fix.

[2018-09-27 04:16] xrdavies commented on #362
Fixed missing netdb.txt in #363

It will report error if miss config for pool.

[2018-09-27 04:16] #362 closed

[2018-09-27 04:17] xrdavies commented on #346
#363 已经修复缺少netdb.txt问题

[2018-09-27 14:50] xrdavies opened #367 "[Win] wallet hangup when password exceeds 40 chars."
Version:  unknown

Platform:  Windows 10

Description:
Wallet hangup when password exceeds 40 chars.

[2018-09-27 15:16] jonano614 commented on #367
Does it happen only with GUI  version for windows? I can take it.

[2018-09-29 18:38] xrdavies opened #372 "Wallet will generate a new address while restore from backup"
Platform: win

Version: 0.2.5

Description:

Copy the backup files to a new wallet folder, the wallet will generate a new address.
The backup files are archived in backup4.zip.
The password is zhanghuqing+95914

Attachments:
[backup4.zip](https://github.com/XDagger/xdag/files/2430939/backup4.zip)

[2018-09-29 19:00] xrdavies commented on #372
The same issue with Mac wallet.
![image](https://user-images.githubusercontent.com/1884084/46249509-f4ece000-c45c-11e8-944b-44ab959c181b.png)

[2018-09-29 19:07] xrdavies commented on #372
Debug log:

[code]

Seems the block of f690440456f36733cd85481adfd0fb286766d71c4350068935013c01c0c3a790 has wrong header type.

[2018-09-29 19:14] xrdavies commented on #372
The hash f690440456f36733cd85481adfd0fb286766d71c4350068935013c01c0c3a790 has different addresses.

MDFW81ayOCNVFFf2RMGHw2oH4q/AxMi7  key 0
gA/WRJJiMsEX0oLUugtXkqwFDLMpdk1Q  key 0

[code]

[2018-10-12 06:35] xrdavies commented on #372
* Checked with the reporter, this issue did not happen again.
* According to the discussion with the reporter, he missed to backup wallet.dat at first, while he was operating 5 wallets at the same time, so he copied one wallet.dat from wallets to the backup files.
* Used the files provided by the reporter to debug and found out the keys are paired with storage files. So the key sent is the wrong o

[2018-10-12 06:35] #372 closed

[2018-10-12 06:36] xrdavies commented on #356
Solved in #361

[2018-10-12 06:36] #356 closed

[2018-10-13 15:43] xrdavies opened #381 "abnormal exit 4"
Version: 0.3.0

Platform: Mac OS 10.13

Description:

When tried to load test net storage files, it reported exit 4 in the subprocess.

The code
[code]

The storage files:
http://corpopool.com/download/xdagtest.tar.gz

[2018-10-14 00:40] larryisthere commented on #346
@xrdavies 这个 issue 中包含两个问题
1. 0.2.1 -> 0.2.5 升级后找不到 netdb.txt 的问题
2. 0.2.5 在 Mojave 中（部分）连不上矿池的问题
其中第二个还没有解决，昨晚在群里看到有朋友也可能遇到了类似问题，我怀疑跟这个有关系。
如下图：
![wechatimg5](https://user-images.githubusercontent.com/271518/46911394-cc9ccf80-cf8c-11e8-9b53-b40bbe2bbfb0.jpeg)

[2018-10-14 10:29] weekly-digest[bot] opened #383 "Weekly Digest (7 October, 2018 - 14 October, 2018)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 7 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #381 [abnormal exit 4](https://github.com/XDagger/xdag/issues/381), by [xrdavies](https://github.com/xrdavies)
## CLOSED ISSUES
:heart: #380 [Fix segfault](https://github.c

[2018-10-16 05:55] fredshao opened #387 "-rpc-enable on windows connection refused"
`xdag -rpc-enable -> wallet exit directly`

`xdag -m 0 xdag.uupool.cn:13654 -rpc-enable -> runing`

[code]

[2018-10-17 17:52] xrdavies commented on #387
@fredshao  You have run it like this.
./xdag xdag.uupool.cn:13654 -rpc-enable -rpc-port 7677

[2018-10-18 07:31] sgaragagghu commented on #381
hosts: 4 of 4
           blocks: 262727 of 262727
      main blocks: 90584 of 90584
     extra blocks: 0
    orphan blocks: 3
 wait sync blocks: 0
 chain difficulty: 38566fb7b2676907cb2f9 of 38566fb7b2676907cb2f9
      XDAG supply: 92758016.000000000 of 92758016.000000000
4 hr hashrate MHs: 0.00 of 11117.42
xdag> state
Trying to connect to the test network.
all fine here, or do you mean something

[2018-10-22 19:31] xrdavies commented on #381
@sgaragagghu
According to the explanation of waitpid, the least significant 8 bits store the signal.
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/kernel/exit.c?h=v4.18.16

Tried to catch the stats with
[code]
and it's signal 4.

[code]

signal 4 is `#define	SIGILL	4	/* illegal instruction (not reset when caught) */`

Still have no idea what causes this signal yet.

[2018-10-22 19:56] sgaragagghu commented on #381
interesting... it doesn't happen on linux (at least on my computer) so it hard is for me to catch  the cause of the issue :/

[2018-10-25 04:12] fredshao commented on #387
![image](https://user-images.githubusercontent.com/23414494/47475675-29cb3780-d84f-11e8-9ee6-78fd77ac6b0b.png)

[2018-10-31 02:37] fredshao opened #408 "How to exit xdag daemon gracefully?"
`./xdag cn1.xdag.org:443 -rpc-enable -d`
I run xdag wallet with a daemon, how to exit?

[2018-10-31 05:16] xrdavies commented on #408
[code]

or just
```echo -e "terminate\n" | ./xdag -i ```

[2018-10-31 18:10] xrdavies commented on #408
Issue solved.

[2018-10-31 18:10] #408 closed

[2018-10-31 18:14] xrdavies commented on #318
Verified with 0.3.0 on pool.xdag.us:13654

[2018-10-31 18:14] #318 closed

[2018-10-31 18:15] xrdavies commented on #309
Not an issue with new versions.

[2018-10-31 18:15] #309 closed

[2018-10-31 18:16] xrdavies commented on #266
@sgaragagghu  This issue should be already fixed by you. Could you confirm this?

[2018-10-31 18:17] xrdavies commented on #258
@okfirelee  Not possible to create multiple addresses with wallet not. Please try transaction remark in 0.3.1.

[2018-10-31 18:17] #258 closed

[2018-10-31 18:19] xrdavies commented on #192
It's fixed by @sgaragagghu. Not reproduced anymore.

[2018-10-31 18:19] #192 closed

[2018-10-31 18:21] #307 closed

[2018-10-31 18:22] xrdavies commented on #25
#410

[2018-11-01 08:21] xrdavies opened #412 "miner disconnect abnormal"
Pool version: 0.3.0

Platform: centos

Description:

Miners are disconnected by Success! It's abnormal!

Below is the log info:

```Pool: miner XX...XXX disconnected from 172.31.10.13:31116 by read error : Success```

[2018-11-01 09:40] sgaragagghu commented on #412
`On success, the number of bytes read is returned (zero indicates end of file)`
so it seems issue on miner side, maybe we should change the message in the case data read is 0
because technically it is not an error :joy:

[2018-11-04 17:15] xrdavies commented on #412
Fixed in #414

[2018-11-04 17:15] #412 closed

[2018-11-04 17:16] xrdavies commented on #175
#414 fixed some error.

[2018-11-08 22:19] kbs1 opened #438 "Add one 2 more spaces to "net conn" listing after IP and port"
Otherwise lines like this might get printed on really long-lasting pool connections (now happening in production):
[code]
As you can see, the port is glued together with number of seconds. This can't be parsed as it is ambiguos in many cases. Not a big issue, but such lines are ignored by openxdagpool-scripts and xdag-explorer (incorrect number of elements when line is exploded by \s+), and theref

[2018-11-09 14:38] xrdavies commented on #438
solved.

[2018-11-09 14:38] #438 closed

[2018-11-10 17:39] xrdavies commented on #346
Issue solve in 0.3.0.

[2018-11-10 17:39] #346 closed

[2018-11-16 10:07] okfirelee opened #453 "install make error log"
In file included from src/secp256k1.c:17:0,
                 from src/tests.c:17:
src/ecmult_const_impl.h: In function ‘secp256k1_wnaf_const’:
src/ecmult_const_impl.h:113:20: warning: ‘u’ may be used uninitialized in this function [-Wmaybe-uninitialized]
     wnaf[word] = u * global_sign;
                    ^
  CCLD     tests
  CC       src/exhaustive_tests-tests_exhaustive.o
  CCLD     exhaustiv

[2018-11-16 10:11] okfirelee commented on #282
make  all-am
make[1]: Entering directory `/home/xdag/xdag2/xdag/automake'
gcc  -g -O2 -c -o ../client/sha256-mb-x86_64.o ../client/sha256-mb-x86_64.s
gcc  -g -O2 -c -o ../client/x86_64cpuid.o ../client/x86_64cpuid.s
gcc -DHAVE_CONFIG_H -I.    -std=gnu11 -O3 -g -DDFSTOOLS -DCHEATCOIN -DNDEBUG -DSHA256_USE_OPENSSL_TXFM -DSHA256_OPENSSL_MBLOCK -I/usr/local/opt/openssl/include -I.. -I../dnet -I../dus/

[2018-11-16 10:12] okfirelee commented on #282
@brdelphus  automake error

[2018-11-16 10:35] tonyYOLO opened #454 "Error when building from the source for linux(CentOS)"
[root@izt4nf41cvya1mzsrupx5pz ~]# cd xdag/client
[root@izt4nf41cvya1mzsrupx5pz client]# make
\033[0;31mPlease install libgmp-dev to have better performance\033[0m
cd ../secp256k1 && ./autogen.sh && ./configure && make;                                       \
cd ../client && cc -O3 -DHAVE_CONFIG_H -I../secp256k1/src/ -I../secp256k1 -c ../secp256k1/src/secp256k1.c
./autogen.sh:行3: autoreconf: 未找到命令

[2018-11-16 10:50] xrdavies commented on #454
Please follow the instructions.
https://github.com/XDagger/xdag/wiki/Getting-started

[2018-11-16 10:52] xrdavies commented on #453
Please upgrade your gcc version to 4.9+. It's bug of gcc.

[2018-11-17 09:33] wangxuguo commented on #454
@xrdavies
when compile by automake:
make  all-am
make[1]: Entering directory '/home/wxg/xdag_space/xdag/automake'
gcc -DHAVE_CONFIG_H -I.    -std=gnu11 -O3 -g -DDFSTOOLS -DCHEATCOIN -DNDEBUG -DSHA256_USE_OPENSSL_TXFM -DSHA256_OPENSSL_MBLOCK -I/usr/local/opt/openssl/include -I.. -I../dnet -I../dus/programs/dfstools/source/dfslib -I../dus/programs/dfstools/source/include -I../dus/programs/dar/source

[2018-11-17 19:53] xrdavies commented on #454
@sgaragagghu  Could you add it to wiki page Getting Started?

[2018-11-18 19:06] weekly-digest[bot] opened #460 "Weekly Digest (11 November, 2018 - 18 November, 2018)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 10 issues were created.
Of these, 8 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #454 [Error when building from the source for linux(CentOS)](https://github.com/XDagger/xdag/issues/454), by [tonyYOLO](https://github.com/tonyYOLO)
:green_heart: #453 [in

[2018-11-23 08:51] fadeAce opened #468 "Sync data to main net ERROR"
when syncing to main net , it occurs a signal 7 then failed .
the pic bellow is the scene after error , it seems that process is not ended but kept in an error state, so I've to kill -9 myself
![image](https://user-images.githubusercontent.com/20850645/48934593-a54c0180-ef3f-11e8-9343-b2344252a9dc.png)
and the dnet.log shows underlying
[code]

[2018-11-23 08:59] fadeAce commented on #468
xdag> state
Can't connect to unix domain socket errno:111

[2018-11-23 09:17] fadeAce commented on #468
And !!! I can never run pool again by -r or not

[2018-11-23 09:21] fadeAce commented on #468
and xdag.log shows
[code]

[2018-11-23 10:14] sgaragagghu commented on #468
which os is it?

[2018-11-23 10:38] fadeAce commented on #468
Linux xdag-pool 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-11-23 10:56] sgaragagghu commented on #468
probably your disk was full ;)

[2018-12-03 08:02] xrdavies opened #473 "0.3.0 Pool instance crashed."
Version: 0.3.0

Platform:
Linux xdag-aws 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux

Description:
xdag instance crashed

Log:

[code]

[2018-12-19 08:39] xrdavies commented on #473
[code]

[2018-12-26 16:56] xrdavies commented on #387
already fixed by @jonano614 in 0.3.1

[2018-12-26 16:56] #387 closed

[2018-12-26 16:58] xrdavies commented on #329
Implemented in #483

[2018-12-26 16:58] #329 closed

[2018-12-26 16:59] xrdavies commented on #253
Now websocket is implemented, please have a try.

[2018-12-29 02:35] xrdavies commented on #473
[code]

[2019-01-02 08:25] reymondtu opened #503 "FILTER was introduced in CMake 3.6"
**Describe the bug**
list(FILTER was introduced in CMake 3.6

**To Reproduce**
Steps to reproduce the behavior:
1. when use cmake 3.5
in xdag project folder(cmake .), display error

**Expected behavior**
use cmake_minimum_required limit 3.6 or higher cmake version

[2019-01-02 08:31] reymondtu opened #504 "gcc 4.8.5 compile error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. use cmake . in xdag project folder
2. use make
dislpay complie error

**Expected behavior**
limit higher gcc version or compatible lower gcc version

**Screenshots**
In file included from /data/reymondtu/xdag/client/transport.h:11:0,
                 from /data/reymondtu/x

[2019-01-02 08:51] reymondtu opened #505 "XDAG Refactor Advice"
**Is your feature request related to a problem? Please describe.**
I think the code of the xdag needs to be refactor，it's too difficult to maintain and reading
and needs develop guide for develper to start working.

**Describe the solution you'd like**
networking:
Nanomsg is a socket library that provides several common communication modes in order to make the network layer fast, scalable, and eas

[2019-01-02 09:12] reymondtu commented on #150
![image](https://user-images.githubusercontent.com/6683500/50585513-5f744880-0eb0-11e9-9c1e-0615345a8181.png)
this is bitcoin address format，but xdag address from base64 to base58，There are a few things to consider
For future:
1. diff mainnet and testnet
2. for upgrade address format need a version flag
3. checksum for self check
4. compressed public key for ecdsa

For old version:
1.How to distin

[2019-01-06 06:57] reymondtu commented on #503
update cmake to 3.6 or higher to fix

[2019-01-06 06:57] #503 closed

[2019-01-06 06:58] reymondtu commented on #504
update gcc to 4.9 or higher to fix this, because this project use c11 .h

[2019-01-06 06:58] #504 closed

[2019-01-06 06:59] reymondtu commented on #453
see #504

[2019-01-06 07:06] weekly-digest[bot] opened #512 "Weekly Digest (30 December, 2018 - 6 January, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 6 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #510 [auto switch pool when pool is unavailable](https://github.com/XDagger/xdag/pull/510), by [xrdavies](https://github.com/xrdavies)
:green_heart: #505 [XDAG Refactor Adv

[2019-01-09 10:14] bergstar opened #514 "Error building from the source for Linux"
Unable to build from current master on Ubuntu 18.10

[code]

Using
[code]

Also did try to install the dev package `sudo apt install libsecp256k1-dev` - same error.

[2019-01-09 14:20] wangxuguo commented on #514
You can try:
      ./secp256k1/autogen.sh

[2019-01-11 10:11] wangxuguo commented on #514
Sorry, You should run ./configure in secp256k1  after  ./autogen.sh; then make in automake.Fully is like this below,

cd secp256k1
./autogen.sh
./configure
cd ..
cd automake
 autoreconf -if
  ./configure
  make

[2019-01-11 10:15] wangxuguo commented on #514
if sth is wrong. you may try make in client

[2019-01-13 05:28] weekly-digest[bot] opened #516 "Weekly Digest (6 January, 2019 - 13 January, 2019)"
Here's the Weekly Digest for [XDagger/xdag](https://github.com/XDagger/xdag):
# ISSUES
This week, 8 issues were created. Of these, 4 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #514 [Error building from the source for Linux](https://github.com/XDagger/xdag/issues/514), by [bergstar](https://github.com/bergstar)
:green_heart: #513 [limit cmake version and refac

[2019-01-20 07:06] weekly-digest[bot] opened #517 "Weekly Digest (13 January, 2019 - 20 January, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #499 [Feature/websocket](https://github.com/XDagger/xdag/pull/499), by [xrdavies](https://github.com/xrd

[2019-01-27 09:39] weekly-digest[bot] opened #519 "Weekly Digest (20 January, 2019 - 27 January, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #518 [Update netdb-white.txt](https://github.com/XDagger/xdag/pull/518), by [xrdavies](https://github.com/xrdavies)

 - - -
# PULL REQUESTS
Last week, 4 pull requests were created, updated or merged.
## UPDATED PULL REQUEST
L

[2019-01-30 05:18] zpcsa opened #523 "auto connecting the mine pool"
When the mine is automatically connected, after the wallet is started, enter the command "state", prompting "Trying to connect to the mainnet pool." The log is as follows:
2019-01-30 11:52:06.055 [7f8b46f29700:MESS]  connected to pool 139.99.124.23:13654
2019-01-30 11:52:06.056 [7f8b46f29700:INFO]  Sent  : 99b00c4c8ae86614f4844628427c9a31fe582225c0fe5c201ed6b97a4b08638e t=1713ad17865 res=0
2019-01

[2019-02-01 03:12] zpcsa opened #524 "Rpc adds manual connection network function"
**Is your feature request related to a problem? Please describe.**
After the rpc function is enabled in the personal wallet, the mine connection will be disconnected when the operation is not performed for a long time, and the rpc call will be made after the mining poolconnection is disconnected, which will cause the call to fail.

**Describe the solution you'd like**
Add a function to manually co

[2019-02-03 09:39] weekly-digest[bot] opened #525 "Weekly Digest (27 January, 2019 - 3 February, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 3 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #524 [Rpc adds manual connection network function](https://github.com/XDagger/xdag/issues/524), by [zpcsa](https://github.com/zpcsa)
:green_heart: #523 [auto connecting the

[2019-02-10 09:39] weekly-digest[bot] opened #527 "Weekly Digest (3 February, 2019 - 10 February, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #526 [Windows compilation is fixed](https://github.com/XDagger/xdag/pull/526), by [jonano614](https://github.com/jonano614)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL

[2019-02-17 06:51] weekly-digest[bot] opened #528 "Weekly Digest (10 February, 2019 - 17 February, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL REQUEST
Last week, 1 pull request was merged.
:purple_heart: #526 [Windows compilation is fixed](https://github.com/XDagger/xdag/pull/526), by [jonano614](https://gith

[2019-02-18 09:23] #512 closed

[2019-02-18 09:23] #383 closed

[2019-02-18 09:23] #460 closed

[2019-02-18 09:23] #516 closed

[2019-02-18 09:24] #517 closed

[2019-02-18 09:24] #519 closed

[2019-02-18 09:24] #525 closed

[2019-02-18 09:24] #527 closed

[2019-02-18 09:24] #528 closed

[2019-02-24 06:51] weekly-digest[bot] opened #529 "Weekly Digest (17 February, 2019 - 24 February, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 2 stagazers.
:star: [wang

[2019-03-03 06:51] weekly-digest[bot] opened #530 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - - -
#

[2019-03-10 06:51] weekly-digest[bot] opened #531 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*XDagger/xdag*](https://github.com/XDagger/xdag):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 2 stagazers.
:star: [kitt

[2019-03-22 12:05] #529 closed

[2019-03-22 12:05] #530 closed

[2019-03-22 12:05] #531 closed

[2019-04-08 15:48] werran2 commented on #346
请问一下是怎么解决的，我现在还是显示不出来余额，一直是trying to connect the mainnet pool。

[2019-04-08 17:35] xrdavies commented on #346
@werran2

请问是否是使用了最新的0.3.0版本？
另外请将目录下的 pools.txt中的矿池列表进行更新

de3.xdag.org:13656
de1.xdag.org:13654
de2.xdag.org:13655

[2019-04-10 19:58] kbs1 opened #532 "Pools sometimes not paying out miners after they disconnect"
On xdag.org solo mining pool, DE2, we were performing maintenance on the node (reloading the daemon after changing the community fund address).
That means that during this time, miners were redirected to DE3 pool. This pool had it's config changed to 0-98-0-2.

After DE2 synced, the auto failover system took DE2 miners back. This is performed as a normal miner disconnection event.

Shortly after t

[2019-04-10 20:00] kbs1 opened #533 "Pools sometimes not paying out found blocks at all"
While paying out collected fees (used to be ~once a month), I many times noticed that there are leftover unpaid (1024 coins left) main blocks that are of old date (should have been paid out long time ago).

This seems to happen during desyncs, or when the node is "trying to connect to the main network" (see also next bug for more details about this). This also seems to happen on ANY network relate

[2019-04-10 20:05] kbs1 opened #534 "Pools sometimes reporting unexpected state"
When there are fewer and fewer nodes in the network (as is happening now), the pools often like to report their state as "Trying to connect to the main network". When in reality, they are synced.

Main blocks match, difficulty also matches, and is the same on other nodes that report "normal operation" at that time.

On xdag.org, we have implemented a debug feature called "difficulties sync", which

[2019-04-28 07:18] Master-LY opened #537 "Letter "T"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-28 07:21] Master-LY opened #538 "Letter "t" missed in one important sentence."
**Describe the bug**
In the Protocol.md file, there are content like following:

Blocks are ordered by the following order rules:

If block A is referenced by a main block M, but he block B is not referenced by M, then A precedes B.

**How to fix it**

just fulfill a letter "t" before the word "he block B" can fix this tiny mistake.

[2019-04-28 07:23] #537 closed

[2019-05-05 13:15] #538 closed

[2019-12-02 17:21] kbs1 opened #548 "Suggestion: print storage file path in "block" command"
For debugging purposes, it would be useful to show storage path in "block" command, before the file pos:
[code]

[2019-12-03 16:18] xrdavies commented on #548
fixed in #549

[2019-12-03 16:18] #548 closed

[2019-12-03 17:21] kbs1 opened #551 "Add "version" command to xdag -i"
Currently multiple pieces of software need to check running xdag version. It is currently not possible without running `xdag --help` and parsing out the version.

Proposed is the following new command: `version`. It should just print version, e.g. `0.3.1`. In addition to that, a command line option `-v` should be implemented that will allow to check XDAG version without printing full `--help` argu

[2019-12-03 17:49] xrdavies commented on #551
fixed in #552

[2019-12-03 17:49] #551 closed

[2019-12-18 16:59] xrdavies commented on #514
Address the solution in wiki [https://github.com/XDagger/xdag/wiki/Getting-started](https://github.com/XDagger/xdag/wiki/Getting-started)

[2019-12-18 16:59] #514 closed

[2019-12-18 17:00] xrdavies commented on #454
The steps are addressed in wiki [https://github.com/XDagger/xdag/wiki/Getting-started](https://github.com/XDagger/xdag/wiki/Getting-started)

[2019-12-18 17:00] #454 closed

[2019-12-18 17:03] xrdavies commented on #453
Gcc version requirement already addressed in wiki [https://github.com/XDagger/xdag/wiki/Getting-started](https://github.com/XDagger/xdag/wiki/Getting-started)

[2019-12-18 17:03] #453 closed

[2019-12-25 13:37] xrdavies opened #556 "`net conn` for RPC"
Please add "net conn" to RPC and maybe "net connect ....." - explorer, xdag.org

[2019-12-25 13:37] xrdavies opened #557 "`main blocks` for RPC"
Please add "mainblocks" to RPC - explorer only

[2019-12-25 13:38] xrdavies opened #558 "`minedblocks` for RPC"
Please add "minedblocks" to RPC - xdag.org only

[2019-12-25 13:39] xrdavies opened #559 "pool config through RPC"
Please add "pool" and SET pool config to RPC - xdag.org only

[2019-12-25 13:40] xrdavies opened #560 "`miners` command for RPC"
Please add "miners" to RPC - xdag.org only

[2019-12-25 13:42] xrdavies opened #561 "`miner {address}` for RPC"
Add `miner {address}` command for RPC.

[2019-12-25 13:43] xrdavies opened #562 "`reload` command for RPC"
Add `reload` command for RPC.

[2020-01-02 09:04] zhangaimee commented on #562
what？

[2020-01-02 13:09] roy369535685 commented on #562
what's happened?

[2020-08-05 06:33] zhouqiang-cl opened #572 "Using Chaos Mesh to enhance xdag"
Hello, I am [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) Maintainer. Chaos Mesh is an open-source and free Chaos Engineering platform. Can be directly used without modify any code.

Blockchain is a very promising industry. Congratulations on doing such a promising project,  Blockchain is a subdivision that is widely used in the distributed field. For distributed system, the stability and

[2021-01-01 16:48] Sofarlemineur opened #579 "Creating a XFS ( XDAG Funding Service)"
**What is XFS?**

The XDAG Funding System is a tool that automates the process of rewards. A contributor should be able to create a proposal, upload and edit a proposal. The proposal should consist of the following:
1. General task description.
2. Milestones with detailed tasks to be finished.
3. Timeline which details an estimated amount of time spent on each
task.
4. Start and end date for the p

[2021-01-03 14:37] Sofarlemineur commented on #579
XFS is based on CCS (Community Crownfunding System) from XMR, you can have a look on it here : https://ccs.getmonero.org/

[2021-04-07 22:33] cestvictor opened #584 "Unable to run $make on Ubuntu"
Hi,
Here is the erro after running the commamd $make. Could help me with this?
![image](https://user-images.githubusercontent.com/21105519/113942820-66a9ff80-97f9-11eb-8a28-48fd2dad3d45.png)

[2021-04-08 01:29] swordlet commented on #584
it seemed that randomx library is not installed.
you may compile and install randomx library from source https://github.com/tevador/RandomX
or install binary using command :   apt-get install librandomx-dev

[2021-04-08 02:09] MyronX commented on #584
you can try to  use cmake to build the project

[code]
u can start ./xdag in build

[2021-04-08 05:48] swordlet commented on #584
there is a binary release in
https://github.com/XDagger/XdagRandomxMiner/releases/tag/v0.4

[2021-04-08 14:06] cestvictor commented on #584
Thanks all, the binary program works.

[2021-04-10 06:38] Holt666 opened #585 "Historical data snapshot Feature"
xdag currently stores nearly 340 million blocks. According to the design of loading all of them into memory, it will seriously increase the operating cost of the mining pool. This will cause xdag to become more and more centralized. We need to design a snapshot method to reduce the operating cost of full nodes.

### requirements:

**1. Export balance data specification**

- At present, there is a

[2021-04-10 10:46] Sofarlemineur commented on #585
Hi,
Very interesting.
Do you think that this kind of node could be run as node on a simple PC or does it need also the actual hardware specification?
Thanks for your work

[2021-04-10 12:17] swordlet commented on #585
Snapshot can't work on a running node, for balance must be fixed in snapshot working process.
So a snapshot node  would be developed.  And it is a off-line node.
How to using blocks height to  cut the storage into two parts:  before snapshot part and after snapshot part?
New mining pool will load snapshot and after snapshot part of storage.

[2021-04-12 12:16] Holt666 commented on #585
Yes, if a snapshot node is added, the newly added node only needs to synchronize the latest snapshot and the data after the snapshot.

[2021-04-12 12:21] Holt666 commented on #585
It depends on the size of the snapshot and the index space required for data query. I think this means that an simple PC becomes a necessary job for a full node.

[2021-04-22 03:15] Holt666 opened #587 "xdag testnet support"
Since the fork height of the randomx mining algorithm in the main network is too high, the xdagj version test network needs a fork to reduce the height to build the test network

[2021-04-26 06:55] #584 closed

[2021-05-18 12:51] bigliam opened #591 "I followed the introduction to build this project. But I always get many errors like these"
/home/luban/miner/xdag-0.4.0/client/block.c:1170: undefined reference to `g_rx_pool_mem_index'
/home/luban/miner/xdag-0.4.0/client/block.c:1174: undefined reference to `g_rx_pool_mem'
/home/luban/miner/xdag-0.4.0/client/block.c:1174: undefined reference to `g_rx_pool_mem'
/home/luban/miner/xdag-0.4.0/client/block.c:1174: undefined reference to `g_rx_pool_mem'
/home/luban/miner/xdag-0.4.0/client/bl

[2021-05-20 03:53] MyronX commented on #591
Can you tell me the version of your operating system and the steps you followed?
Looks like it lacks a dependency on randomx. You can check if randomx is installed.
If you can tell me more detailed information, I can try to help you solve this problem

[2021-05-25 05:33] bigliam commented on #591
@MyronX Emmm. The system is [Linux version 3.10.0-957.el7.x86_64]. And I checked the randomx.h file. It is under the path:[/usr/local/include/randomx.h]. So I guess randomx.h is correctly installed. What is more, I followed the instructions by "cd client && make" command.

[2021-05-25 06:22] MyronX commented on #591
maybe u use centos？
try this to build randomx
[code]

and try to open hugepage for randomx
- Temporary open
[code]
- Permanent open
[code]

then reboot system

See if this method solves your problem

[2021-05-25 06:27] bigliam commented on #591
I do actually build randomx in this way. Maybe rebooting is the key.

[2021-05-25 06:29] MyronX commented on #591
ok. Waiting for your feedback

[2021-05-25 06:30] MyronX commented on #591
ok. Waiting for your feedback

[2022-01-12 09:19] mtmtmt123 opened #595 "Last releases only source code no wallet ?"
*hello, how can i download the new wallet?

[2022-08-05 15:52] ductridev commented on #591
@MyronX I'm facing the same issue, but after I set huge pages and restart my server, it is still not working.